body {
font-family: "Open Sans";
}



h1 {
  color: "black";
  margin-left: auto;
  margin-right: auto;
font-family: "Open Sans"; }

.product{height: 100px;}




#bar
{
  margin-left: auto;
  margin-right: auto;
  height:55px;
width:750px;
line-height:55px;
}
#bar a
{
font-size:30px;
font-weight:bold;
margin-left:20px;
margin-right:20px;
}

table
{
  margin-left: auto;
  margin-right: auto;
  height:55px;
  line-height:55px;
  padding-left:20px;
  padding-right:20px;
}
table a
{
font-weight:bold;
margin-left:20px;
margin-right:20px;
}
